* {
	box-sizing: border-box;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: teal;
	font-family: "Futura";
	color: white;
	font-size: 100%;
	line-height: 1.4;
	margin: 0 0 100px;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	text-align: center;
}

/*-------Main Content-------*/

.content-container {
	display: flex;
	justify-content: space-between;
}

.container-right {
	width: 50%;
	height: 50%;
	margin-right: 20px;
	margin-top: 80px;
}

.container-left {
	width: 50%;
	height: 50%;
	margin-right: 20px;
	margin-top: 50px;
}

.heading {
	text-align: center;	
}

.subheading {
	text-align: center;
}

.intro {
	font-size: 1.3em;
	padding: 15px;
}

/*-------image styling-------*/

.profile-pic {
	width:300px;
	height: 300px;
	background-image: url("assets/images/sagar.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 20px;
	border: 3px solid white;
	display: block;
	margin: 0 auto;
}

.fishtown-pic {
	width: 400px;
	height: 300px;
	background-image: url("assets/images/trolley.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 20px;
	border: 3px solid white;
	display: block;
	margin: 0 auto;
}

.photography-pic {
	width: 400px;
	height: 300px;
	background-image: url("https://farm4.staticflickr.com/3798/33326809421_600e90e109_h.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 20px;
	border: 3px solid white;
	display: block;
	margin: 0 auto;
}

/*----------footer styling----------*/

.footer-links {
	color:purple;
}

.footer-links:link {
	background-color: rgba(169,169,169,0.7);
	font-family: 'Amatic SC', cursive;
	font-size: 1.2em;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	border: 2px solid black;
	margin: 5px;
}

.footer-links:hover {
	color:darkred;
}

/*-------Media Queries-------*/

@media (max-width: 480px) {
	.intro {
		font-size: 1.1em;
		text-align: center;
	}

	.content-container {
		display: block;
	}

	.container-left {
		width:100%;
	}

	.container-right {
		width: 100%;
	}
}

@media (max-width: 680px) {
	
	.intro {
		font-size: 1em;
		text-align: center;
	}

	.content-container {
		display: block;
	}

	.container-left {
		width:100%;
		margin-top: 10px;
	}

	.container-right {
		width: 100%;
		margin-top: 0;
	}

}


