* {
	box-sizing: border-box;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: teal;
	font-family: "Futura";
	color: white;
	font-size: 100%;
	line-height: 1.4;
	margin: 0 0 120px;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 120px;
	width: 100%;
	text-align: center;
}

/*-------Main Content-------*/

.content-container {
	display: flex;
	justify-content: space-between;
	opacity: 0;
}

.container-right {
	width: 50%;
	height: 50%;
	margin-right: 80px;
	margin-top: 100px;
}

.container-left {
	width: 50%;
	height: 50%;
	margin-right: 20px;
	margin-top: 50px;
}

.heading {
	text-align: center;	
}

.subheading {
	text-align: center;
}

.intro {
	font-size: 1.3em;
	padding: 15px;
}

/*-------Projects-------*/

.project-button {
	text-align: center;
	font-size: 1.5em;
}

		.project-button:hover {
			font-size: 1.8em;
			font-weight: bolder;
			color: firebrick;
			cursor: pointer;
		}

.project-container {
	display: none;
	justify-content: space-between;
	flex-wrap: wrap;
	opacity: 0;
	margin-top: 2%;
}

.project-header {
	text-align: center;
	width: 100%;
	margin-bottom: 5%;
}

.picture-caption {
	text-align: center;
	background-color: rgba(169,169,169,0.3);
}		

.home-button {
	text-align: center;
	font-family: cursive;
	font-size: 1.5em;
	width: 100%;
	margin: 0 auto;
	margin-top: 3%;
	margin-bottom: 3%;
}

/*-------image styling-------*/

.profile-pic {
	width: 300px;
	max-width: 55vw;
	height: 300px;
	max-height: 55vw;
	background-image: url("assets/images/sagar.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 20px;
	border: 3px solid white;
	display: block;
	margin: 0 auto;
}

.fishtown {
	width: 40vw;
	height: 30vw;
	background-image: url("assets/images/trolley.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 20px;
	border: 3px solid white;
	display: block;
	margin: 0 auto;
}

.photography {
	width: 40vw;
	height: 30vw;
	background-image: url("https://farm4.staticflickr.com/3798/33326809421_600e90e109_h.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 20px;
	border: 3px solid white;
	display: block;
	margin: 0 auto;
}

/*----------footer styling----------*/

.footer-links {
	color:purple;
}

.footer-links:link {
	background-color: rgba(169,169,169,0.7);
	font-family: 'Amatic SC', cursive;
	font-size: 1.2em;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	border: 2px solid black;
	margin: 5px;
}

.footer-links:hover {
	color: darkred;
}

/*-------Media Queries-------*/

@media (max-width: 500px) {
	
	.heading {
		font-size: 1.5em;
	}

	.subheading {
		font-size: 1.3em;
	}

	.intro {
		font-size: 1.1em;
		text-align: center;
		margin: 0;
	}

	.content-container {
		display: block;
		opacity: 0;
	}

	.container-left {
		width: 100%;
		margin-top: 2%;
	}

	.container-right {
		width: 100%;
		margin: 0;
	}

	.project-header {
		margin-bottom: 2%;
	}

	.fishtown,
	.photography {
		width: 80vw;
		height: 60vw;
		margin: 0 auto;
		margin-top: 3%;
		padding: 1%;
	}

}

@media all and (min-width: 501px) and (max-width: 768px) {
	
	body {
		margin: 0 0 110px;
	}

	footer {
		height: 110px;
	}

	.project-button {
		font-size: 1.15em;
	}

	.project-container {
		margin-top: 2%;
		justify-content: space-around;
	}

	.project-header {
		margin-bottom: 1.5%;
	}

	.home-button {
		margin-top: 1.5%;
		margin-bottom: 1.5%;
	}

	.fishtown,
	.photography {
		width: 35vw;
		height: 25vw;
		margin: 1%;
	}

	.profile-pic {
		width: 150px;
		height: 150px;
	}

	.container-right {
		margin-top: 0;
		margin-right: 40px;
	}

	.container-left {
		margin-top: 30px;
	}

	.heading {
		font-size: 1.3em;
	}

	.subheading {
		font-size: 1.15em;
	}

	.intro {
		font-size: 1em;
	}

}

/*-------Animations-------*/
	
@media (max-width: 500px) {

	@keyframes welcome {
		from {opacity: 0;}
		to {opacity: 1;}
	}

	@keyframes slideRight {
		0% {transform: translateX(500px); }
		20% {transform: translateX(200px);}
		100% {transform: none;}
	}

	@keyframes slideLeft {
		0% {transform: translateX(-500px); }
		20% {transform: translateX(-200px);}
		100% {transform: none;}
	}

	@keyframes slideBottom {
		0% {transform: translateY(400px); }
		20% {transform: translateY(200px);}
		100% {transform: none;}
	}

	.content-container {
		animation: welcome 6s ease-in 4s;
		animation-fill-mode: forwards;
	}

	.container-right,
	.linkThree {
		animation: slideRight 4s;
	}

	.linkOne {
		animation: slideLeft 4s;
	}

	.linkTwo {
		animation: slideBottom 4s;
	}
}

@media (max-width: 700px) {
	@keyframes welcome {
		0% {opacity: 0;}
		25% {opacity: 0.2;}
		100% {opacity: 1}
	}

	@keyframes slideRight {
		from {transform: translateX(1000px); }
		to {transform: none;}
	}

	@keyframes slideLeft {
		0% {transform: translateX(-1000px); }
		to {transform: none;}
	}

	@keyframes slideBottom {
		0% {transform: translateY(400px); }
		20% {transform: translateY(200px);}
		100% {transform: none;}
	}

	.content-container {
		animation: welcome 9s ease-in;
		animation-fill-mode: forwards;
	}

	.container-right,
	.linkThree {
		animation: slideRight 6s;
	}

	.linkOne {
		animation: slideLeft 6s;
	}

	.linkTwo {
		animation: slideBottom 6s;
	}
}

@media (min-width: 701px) {

	@keyframes welcome {
		0% {opacity: 0;}
		25% {opacity: 0.2;}
		100% {opacity: 1}
	}

	@keyframes slideRight {
		from {transform: translateX(1000px); }
		to {transform: none;}
	}

	@keyframes slideLeft {
		0% {transform: translateX(-1000px); }
		to {transform: none;}
	}

	@keyframes slideBottom {
		0% {transform: translateY(400px); }
		20% {transform: translateY(200px);}
		100% {transform: none;}
	}

	.content-container {
		animation: welcome 9s ease-in;
		animation-fill-mode: forwards;
	}

	.container-right,
	.linkThree {
		animation: slideRight 8s;
	}

	.linkOne {
		animation: slideLeft 8s;
	}

	.linkTwo {
		animation: slideBottom 8s;
	}
}






